body {
    font-family: Arial, sans-serif;
    background-image: url("http://localhost:8080/img/people-show-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: left;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

header a:hover {
    color: #888;
}

.head {
    display: flex;
    justify-content: space-evenly;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    text-align: center;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-photo {
    max-width: 400px; /* Увеличьте значение max-width для большей картинки */
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

.book-details {
    text-align: center;
}

.book-details p {
    font-weight: bold;
}

.button-container {
    text-align: center;
}

.button-container form {
    display: inline-block;
    margin: 10px;
}

.button-container form input[type="submit"] {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container form input[type="submit"]:hover {
    background-color: #000;
}

.btn-primary {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #000;
}

.btn-success {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #000;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 15px;
    text-align: center;
    flex-shrink: 0;
}