<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменения данных человека</title>
    <link rel="stylesheet" href="/css/book/edit_style.css">
</head>
<body>
<header>
    <div class="head container">
        <a href="/people/new">Добавить человека</a>
        <a href="/books">Перейти в библиотеку</a>
    </div>
</header>

<div class="container">
    <form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}" class="book-form">
        <div class="form-group">
            <label for="name" class="form-label">Введите ФИО:</label>
            <input type="text" th:field="*{FIO}" id="name" class="form-control">
            <div style="color:red" th:if="${#fields.hasErrors('FIO')}" th:errors="*{FIO}" class="error">FIO Error</div>
        </div>
        <div class="form-group">
            <label for="age" class="form-label">Введите год рождения:</label>
            <input type="text" th:field="*{age}" id="age" class="form-control">
            <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error">Age Error</div>
        </div>
        <input type="submit" value="Редактировать!" class="submit-button">
    </form>
</div>

<footer>Copyright © 2023</footer>
</body>
</html>





